# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Oo]bj/
[Ll]og/

# Visual Studio Code
.vscode/
*.code-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Docker
.dockerignore

# Sensitive data
*.env
appsettings.Development.json